[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test code review
[access "refs/*"]
	owner = group user/Michael Vyazovsky (michael-vyazovsky)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Michael Vyazovsky (michael-vyazovsky)
	label-Verified = -1..+1 group user/Michael Vyazovsky (michael-vyazovsky)
	push = group user/Michael Vyazovsky (michael-vyazovsky)
	read = group user/Michael Vyazovsky (michael-vyazovsky)
	rebase = group user/Michael Vyazovsky (michael-vyazovsky)
	removeReviewer = group user/Michael Vyazovsky (michael-vyazovsky)
	submit = group user/Michael Vyazovsky (michael-vyazovsky)
[access "refs/heads/*"]
	create = group user/Michael Vyazovsky (michael-vyazovsky)
	push = +force group user/Michael Vyazovsky (michael-vyazovsky)
	pushMerge = group user/Michael Vyazovsky (michael-vyazovsky)
	read = group user/Michael Vyazovsky (michael-vyazovsky)
[access "refs/tags/*"]
	push = group user/Michael Vyazovsky (michael-vyazovsky)
	push = +force group user/Michael Vyazovsky (michael-vyazovsky)
